// Colors
$softRed: hsl(0, 94%, 66%);
$softBlue: hsl(231, 69%, 60%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);
// Font
$font: 'Rubik', sans-serif;
$fontSize: 18px;
$fontS: 400;
$fontL: 500;
// Transition
$transition: 0.3s;